<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://jeffbot.org/pace-view" version="1.0.0" viewmodes="maximized">
    <tizen:application id="fug5a71bN1.PaceView" package="fug5a71bN1" required_version="2.3"/>
    <tizen:background-category value="location"/>
    <tizen:background-category value="background-network"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="http://tizen.org/feature/location.batch"/>
    <feature name="http://tizen.org/feature/location.gps"/>
    <feature name="http://tizen.org/feature/network.internet"/>
    <icon src="stupid-logo.png"/>
    <name>PaceView</name>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/location"/>
    <tizen:privilege name="http://tizen.org/privilege/healthinfo"/>
    <tizen:profile name="wearable"/>
    <tizen:setting background-support="enable" encryption="disable" hwkey-event="enable"/>
     <access origin="*" subdomains="true"></access>

</widget>
